<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="clientId" value="741295884306-kv087d4ri79augobqr98rouivmevge69.apps.googleusercontent.com" />
    <add key="clientSecret" value="dtGDuLNhuouFU2lG9hCthx3a" />
  </appSettings>
</configuration>